<a href="https://colab.research.google.com/github/dairyta/Data_analysis/blob/main/PythonZero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

# Python program to declare variables

In [2]:
numberInt =  3
nombreString = "Hello World"
numberFloat = 3.5
print(numberInt, nombreString, numberFloat)

3 Hello World 3.5

Python have 4 types of built in Data Structures namely List, Dictionary, Tuple and Set.
Listas comienzan en "Cero"

In [ ]:
# Python program to illustrate a list
# creates a empty list
nums = []

In [8]:
# Creating a List of numbers
List = [10 , 20, 14, 50]
print("\nList of numbers: ")
#print(List)
print(List[3], List[2], List[1], List[0])

List of numbers:
50 14 20 10

Example 2:  Creating a list with multiple distinct or duplicate elements

In [9]:
# Creating a List with
# the use of Numbers
# (Having duplicate values)
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("\nList with the use of Numbers: ")
print(List)

List with the use of Numbers:
[1, 2, 4, 4, 3, 3, 3, 6, 5]

In [10]:
# (Having numbers and strings)
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
print(List)

[1, 2, 'Geeks', 4, 'For', 6, 'Geeks']

In [11]:
#Example 1: Accessing elements from list
print("\nList Accesing elements from the List")
print(List[0])
print(List[4])
print(List[2])

List Accesing elements from the List
1
For
Geeks

In [16]:
# Creating a Multi-Dimensional List
List = [['Geeks', 'For'],['blanco','negro','gris'],[1, 2.3,]]
print("\nList Accesing elements from the Multi-Dimensional List")
print(List[0][1], List[0][1]) #de la lista en la posicion 'cero' devuelveme el elemento en la posicion'1'
print(List[1][0]) #de la lista en la posicion '1'  devuelveme el elemento en la posicion'cero'

List Accesing elements from the Multi-Dimensional List
For For
blanco

Negative indexing

In [20]:
# accessing an element using
# negative indexing
print("Accessing element using negative indexing")
print(List[-1][1]) #del ultimo elemento de la lista la posicion '1'
print(List[-2])

Accessing element using negative indexing
2.3
['blanco', 'negro', 'gris']

Getting the size of Python list

In [23]:
List = [['Geeks', 'For'],['blanco','negro','gris'],[1, 2.3,]]
print("Getting the size of Python list")
print(len(List))

Getting the size of Python list
3

In [26]:
string = input("Enter elements (Space-Separated): ")
#lst = string.split()
print('The list is:', string)

Enter elements (Space-Separated): 2 5 4 CUATRO 1,2
The list is: 2 5 4 CUATRO 1,2

Método 1: usar el método append()
sOLO SE PUEDE AGREGAR UN ELEMENTO A LA VVEZ, POR TANTO SE UTILIZAN BUCLES

In [27]:
# Addition of elements in a List with append()

List = []
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ", List)

List after Addition of Three elements:  [1, 2, 4]

In [29]:
# Addition of elements in a List with input()

List10minor = []
List10
num1 = int(input("Enter num1: "))
List.append(num1)
print("\nList after Addition of Three elements: ", List)

Enter num1: 1

List after Addition of Three elements:  [1]